/* Book your style section */
.card-container {
    padding: 10px;
    margin: 0 auto; 
    flex: 0 0 auto;
    width: 20%; 
}

.cars::-webkit-scrollbar {
    height: 5px;
}

.cars::-webkit-scrollbar-thumb {
    background-color: black; 
    border-radius: 4px; 
}

.cars::-webkit-scrollbar-track {
    background-color: transparent; 
}

.cars {
    background-color: transparent;
    width: 100%;
    justify-content: space-between;
    display: flex; 
    overflow-x: scroll; 
    white-space: nowrap; 
}

.cards {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.cards img {
    width: 100%;
    height: 26vh;
    border-radius: 20px 20px 0 0;
}

.label1 {
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
    text-align: center;
}

@media (max-width: 800px) {
    
    .card-container {
        padding: 5px;
        width: 50%; 
    }

    .cars {
        justify-content: flex-start; 
        overflow-x: scroll;
    }

    .cards {
        width: 80%; 
        margin: 10px auto; 
    }

    .cards img {
        height: 20vh; 
    }

    .label1 {
        font-size: 16px; 
        padding-bottom: 8px;
    }
}

@media (max-width: 400px) {
    
    .card-container {
        padding: 5px;
        width: 50%; 
    }

    .cars {
        justify-content: flex-start; 
        overflow-x: scroll;
    }

    .cards {
        width: 80%; 
        margin: 10px auto; 
    }

    .cards img {
        height: 15vh; 
    }

    .label1 {
        font-size: 16px; 
        padding-bottom: 8px;
    }
}
