.car-info-page{
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}
.car-pics {
    display: flex;
    padding: 5px; /* Reduce padding for cleaner look */
    margin-top: 70px;
    justify-content: center;
    gap: 10px;
}

.main-pic-section {
    width: 50%;
}

.Main-pic {
    width: 100%; /* Make the image fill the entire section */
    border: 1px solid #d9d9d9;
    border-radius: 10px 0 0 10px;
}

.more-pics {
    width: 25%; /* Adjust width for thumbnail section */
    display: flex;
    flex-direction: column; /* Arrange thumbnails vertically */
}
.sub-pics {
    width: 56%; /* Make thumbnails fill the entire width */
    border: 1px solid #d9d9d9;
    margin: 5px 0; /* Adjust margin between thumbnails */
    border-radius: 0 10px 10px 0;
}
.car-info-section{
    display: flex;
}
.car-profile{
    width: 70%;
    margin: 10px;
}
.car-pricing{
    background-color: #d9d9d9;
    border-radius: 10px;
    width: 30%;
    margin: 10px;
}
.car-model{
    font-size: 40px;
    margin: 10px;
}
.key-features{
    display: flex;
    margin: 15px;
    gap: 50px;
}
.feature{
    font-size: 16px;
}
.icons{
    font-size: 24px;
}
.host-profile{
    display: flex;
    gap: 200px;
}
.host{
    display: flex;
    padding: 10px;
    gap: 5px;
}
.profile-pic{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 15px;
}
.host-name{
    margin: 25px 0 0 0;
}
.ownership p{
    font-size: 22px;
    font-weight: bold;
    margin: 40px 0 0 0;
}
.description-heading{
    font-size: 22px;
    font-weight: bold;
    margin: 20px;
}
.car-description{
    margin: 20px;
    width: 90%;
}
.more-features{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 20px;
    margin: 20px;
}
.conditions{
    margin: 20px;
}
.total-price{
    padding: 10px;
    text-align: center;
    margin: 20px;
}
.price{
    font-size: 32px;
    font-weight: bold;
}
.booked-days{
    font-size: 18px;
    font-weight: bold;
    color: gray;
}
.booking-button{
    background-color: #ffd700;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 50px;
    border: 0px;
    border-radius: 10px;
}
.booking-button:hover{
    background-color: black;
    color: white;
}
.from-to-date{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 40px;
}
.date-time-input{
    margin: 10px;
}
.book-date-time{
    font-size: 16px;
    background-color: transparent;
    padding: 2px;
    border: 0px;
    margin: 2px 30px;
}
.booking-location{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 40px;
}
.booked-location{
    font-size: 16px;
    background-color: transparent;
    border: 1px solid gray;
    padding: 2px;
    border: 0px;
    margin: 0px 40px;
}
.inquires-section{
    padding: 10px;
    text-align: center;
    margin: 20px;
}
.inquires-button{
    background-color: #ffd700;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 50px;
    border: 0px;
    border-radius: 10px;
}

@media(max-width: 800px){
    .car-pics {
        padding: 3px; 
        gap: 5px;
    }
    .sub-pics {
        width: 98%;
        margin: 1px ; 
    }
    .car-profile{
        width: 60%;
        margin: 1px;
    }
    .car-pricing{
        width: 35%;
        margin: 5px;
    }
    .car-model{
        font-size: 20px;
    }
    .key-features{
        margin: 15px;
        gap: 15px;
    }
    .feature{
        font-size: 12px;
    }
    .icons{
        font-size: 20px;
    }
    .host-profile{
        gap: 20px;
    }
    .host{
        padding: 5px;
        gap: 0px;
    }
    .profile-pic{
        width: 50px;
        height: 50px;
    }
    .host-name{
        margin: 20px 0 0 0;
        font-size: 14px;
    }
    .ownership p{
        font-size: 18px;
        font-weight: bold;
        margin: 30px 0 0 0;
    }
    .description-heading{
        font-size: 18px;
        margin: 10px;
    }
    .car-description{
        margin: 10px;
        width: 95%;
        font-size: 14px;
    }
    .more-features{
        gap: 10px;
        margin: 10px;
    }
    .conditions{
        margin: 10px;
    }
    .total-price{
        padding: 5px;
        margin: 10px;
    }
    .price{
        font-size: 24px;
    }
    .booked-days{
        font-size: 14px;
    }
    .booking-button{
        font-size: 16px;
        padding: 5px 40px;
    }
    .from-to-date{
        font-size: 18px;
        margin: 5px 10px;
    }
    .date-time-input{
        margin: 5px;
    }
    .book-date-time{
        font-size: 14px;
        padding: 0px;
        margin: 2px 5px;
    }
    .booking-location{
        font-size: 14px;
        margin: 10px 5px;
    }
    .booked-location{
        font-size: 16px;
        padding: 2px;
        border: 1px solid gray;
        border-radius: 10px;
        margin: 0px 5px;
        width: 90%;
    }
    .inquires-section{
        padding: 5px;
        text-align: center;
        margin: 5px;
    }
    .inquires-button{
        font-size: 16px;
        padding: 5px 30px;
    }
}

@media(max-width: 400px){
    .car-info-section{
        flex-direction: column;
    }
    .car-pics {
        flex-direction: column;
        padding: 2px; 
        gap: 3px;
        margin-top: 20px;
    }
    .main-pic-section {
        width: 100%;
    }
    .more-pics {
        width: 100%;
        flex-direction: row;
        overflow-x: scroll;
        border-radius: 10px;
    }
    .sub-pics {
        width: 30%;
        margin: 1px;
    }
    .car-profile {
        width: 100%;
        margin: 1px;
    }
    .car-pricing {
        width: 100%;
        margin: 5px 0;
    }
    .car-model {
        font-size: 18px;
    }
    .key-features {
        flex-direction: column;
        margin: 10px;
        gap: 10px;
    }
    .feature {
        font-size: 12px;
    }
    .icons {
        font-size: 18px;
    }
    .host-profile {
        flex-direction: column;
        gap: 10px;
    }
    .host {
        padding: 5px;
        gap: 5px;
    }
    .profile-pic {
        width: 40px;
        height: 40px;
    }
    .host-name {
        margin: 10px 0 0 0;
        font-size: 12px;
    }
    .ownership p {
        font-size: 16px;
        margin: 20px 0 0 0;
    }
    .description-heading {
        font-size: 16px;
        margin: 10px;
    }
    .car-description {
        margin: 10px;
        width: 100%;
        font-size: 12px;
    }
    .more-features {
        gap: 5px;
        margin: 10px;
    }
    .conditions {
        margin: 10px;
    }
    .total-price {
        padding: 5px;
        margin: 10px;
    }
    .price {
        font-size: 20px;
    }
    .booked-days {
        font-size: 12px;
    }
    .booking-button {
        font-size: 14px;
        padding: 5px 20px;
    }
    .from-to-date {
        font-size: 16px;
        margin: 5px 10px;
    }
    .date-time-input {
        margin: 5px;
    }
    .book-date-time {
        font-size: 12px;
        padding: 0px;
        margin: 2px 5px;
    }
    .booking-location {
        font-size: 14px;
        margin: 10px 5px;
    }
    .booked-location {
        font-size: 14px;
        padding: 2px;
        border: 1px solid gray;
        border-radius: 10px;
        margin: 0px 5px;
        width: 100%;
    }
    .inquires-section {
        padding: 5px;
        text-align: center;
        margin: 5px;
    }
    .inquires-button {
        font-size: 14px;
        padding: 5px 20px;
    }
}