.carForm{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url('../assets/images/hero.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
/* Adjust the container to account for the fixed header */

.list-your-car-container{
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  font-size: 20px;
  width: 80%;
  height: auto;
  margin-top: 120px;
  margin-bottom: 50px;
}

/* Main Title */
.main-title {
  font-size: 24px;
  font-weight: bold;
  padding: 2px;
}

.highlight {
  color: #FFD700;
}

.sub-title {
  font-size: 20px;
  padding: 2px;
}

.description{
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
  padding: 2px;
  text-align: center;
}
.main-title, .sub-title {
  text-align: center;
  padding: 5px;
}
/* Form Group Styles */
.form-group {
  margin:10px;
  padding: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}


.form-group, .select-inputs{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}
#moreFeatures{
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  bottom: 9%; 
}
textarea {
  width: 94%;
  height: 100px;
  max-width: 94%;
  min-height: 100px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
}
.features-heading{
  color: #333;
  margin: 10px;
}
/* Input and Select Adjustments */
input[type="file"] {
  display: none;
}
.plate-input{
  width: 100%;
  height: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="color"] {
  width: 100%;
  height: 7vh;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.select-inputs{
  max-width: 100%;
}
/* Form Layout Adjustments */
.form-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 0.5fr));
  margin: 10px;
}

/* Photo Upload Styles */

.photo-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  gap:10px;
  padding: 20px;
}

.photo-upload-btn {
  background-color: #FFD700;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3ms;
}

.photo-upload-btn:hover {
  background-color: black;
  color: white;
}

/* Form Buttons */
.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.back-btn,
.next-btn {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3ms;
}

.back-btn {
  background-color: gray;
}

.next-btn {
  background-color: #FFD700;
}

.back-btn:hover {
  background-color: #e0e0e0;
}

.next-btn:hover {
  background-color: #FFC700;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  
  .list-your-car-container{
    padding: 1px;
    border-radius: 10px;
    font-size: 20px;
    width: 80%;
    margin-top: 70px;
    margin-bottom: 30px;
  }
  
  .sub-title {
    font-size: 16px;
    margin-bottom: 0px;
  }
  
  .description{
    font-size: 14px;
  }
  .main-title, .sub-title {
    padding: 1px;
  }
  /* Form Group Styles */
  .form-group {
    margin-bottom: 0px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .plate-input{
    max-width: 95%;
    padding: 10px;
  }
  .select-inputs{
    max-width: 100%;
  }
  textarea {
    max-width: 80%;
    min-height: 80px;
    padding: 5px;
  }
  
  /* Input and Select Adjustments */
  input[type="color"] {
    width: 100%;
    height: 40px;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Form Layout Adjustments */
  .form-row {
    display: flex;
    flex-wrap: wrap;
  }
  /* Photo Upload Styles */
  .photo-upload {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .file-label {
    background-color: #f0f0f0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .take-photo-btn,
  .upload-photo-btn {
    padding: 5px  5px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .photo-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .photo-upload-btn {
    background-color: #FFD700;
    color: black;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3ms;
  }
  
  .photo-upload-btn:hover {
    background-color: black;
    color: white;
  }
  
  /* Form Buttons */
  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  .back-btn,
  .next-btn {
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .back-btn {
    background-color: #f0f0f0;
  }
  
  .next-btn {
    background-color: #FFD700;
  }
  
  .back-btn:hover {
    background-color: #e0e0e0;
  }
  
  .next-btn:hover {
    background-color: #FFC700;
  }
}
