.landing-page {
    width: 100%;
    overflow-x: hidden;
}

/* Hero Section */
.hero-section {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url('../assets/images/hero.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.hero-content {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-heading {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.hero-subheading {
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

.button-primary {
    background-color: #FFD700;
    color: black;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

.button-primary:hover {
    background-color: black;
    color: white;
    transition: 0.3ms;
}

/* Feature Section */
.feature-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-top: 50px;
}

.feature-image img {
    width: 100%;
    height: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.feature-text {
    text-align: center;
    font-size: 24px;
    margin: 50px 0 0 10px;
}

.highlight {
    color: #FFD700;
}

.feature-cta {
    font-weight: bold;
    margin: 1.5rem 0;
}

/* Packages Section */
.packages-section {
    background-color: #f5f5f5;
}
.package-options-buttons {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.package-button {
    background-color: transparent;
    border: none;
    padding: 0 200px 0;
    margin: 5px;
}

.package-button.active {
    border-bottom: 5px solid #FFD700;
}

.package-title {
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
.package-content{
    width: 25%;
    padding: 5px;
    background-color: transparent;
    font-size: 18px;
}
.package-header{
    display: flex;
}
.package-text h3{
    color: black;
    font-size: 24px;
}

.learn-more-link {
    width: 22%;
    display: block;
    text-align: center;
    padding-bottom: 10px;
    margin: 40px 0 0 500px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
.learn-more-link:hover{
    text-decoration: underline;
}

.packages-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 40px 0 40px;
}

.header-highlighter {
    background-color: transparent;
    border: 3px solid #FFD700;
    height: 0px;
    width: 270px;
    margin-top: 30px;
}

.package-container {
    display: flex;
    margin: 1px;
}
.package-icon{
    font-size: 24px;
    margin: 20px 10px 15px 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-section {
        background-size:cover;
    }
    
    .feature-section {
        flex-wrap: wrap;
    }
    .hero-heading {
        font-size: 30px;
    }
    .hero-subheading {
        font-size: 14px;
    }

    .packages-container {
        padding: 0px;
    }

    .button-primary {
        width: 100%;
        max-width: 300px;
    }

    /*Responsiveness for the packages section */
    .package-content{
        width: auto;
        padding: 5px;
        font-size: 14px;
    }
    .package-text h3{
        font-size: 16px;
    }
    #package-details{
        font-size: 15px;
    }
    .package-title {
        font-size: 24px;
    }
    .package-button {
        padding: 0 80px 0;
    }
    .header-highlighter {
        width: 60px;
        margin-top: 30px;
    }
    .package-icon{
        margin: 20px 5px 5px 0;
    }
    .learn-more-link {
        width: 60%;
        margin: 40px 0 0 100px;
    }
}
