.forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/hero.jpg');
    height: 70vh;
  }
  
  .forgot-password-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .forgot-password-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .forgot-password-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .forgot-password-button {
    padding: 10px;
    background-color: #ffd700;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .forgot-password-button:disabled {
    background-color: #b0c4de;
    cursor: not-allowed;
  }
  
  .success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
  }
  