.login-page{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/hero.jpg');
  background-size: cover;
  height: 70vh;
  padding: 20px;
}
.login-container {
  width: 30%;
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
}

.login-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  color: black;
  margin-bottom: 1rem;
}

.highlight {
  color: gold;
}

h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #888888;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.login-input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 90%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

.login-input:focus {
  border-color: gold;
}

.login-button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  background-color: gold;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: black;
  color: white;
  transition: 0.3ms;
}

.Signup_link {
  margin-top: 1rem;
  background-color: transparent;
}
.forgot-password-link{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  text-decoration: none;
}
.forgot-password-link:hover {
  text-decoration: underline;
}
.footer-link {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: gold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}


/* Responsive Design for screens under 800px */
@media (max-width: 800px) {
  .login-container {
    width: 70%;
  }

  .login-title {
    font-size: 1.6rem; 
  }

  .login-input {
    font-size: 0.9rem; 
    padding: 0.7rem; 
  }

  .login-button {
    font-size: 16px; 
    padding: 0.7rem; 
  }

  h3 {
    font-size: 1rem; 
  }

  .footer-link {
    font-size: 0.9rem; 
  }
}
