.headercontainer {
    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

ul {
    list-style: none;
    margin: 5px;
}

ul li {
    display: inline-block;
    margin: 0 8px;
}

.header-button {
    margin-left: 55%;
}


.logo a {
    font-size: 50px;
    margin: 0px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header-icon {
    font-size: 32px; 
    cursor: pointer;
    color: black; 
}

.avatar-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
    width: 300px;
    z-index: 1000;
}

.dropdown-item {
    display: flex;
    padding: 5px;
    align-items: center; 
    font-size: 18px;
    font-weight: 500;
    color: black; 
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease; 
    border-radius: 8px;
    width: 100%; 
}

.dropdown-item:hover {
    color: #ff8c00; 
    background-color: rgba(255, 140, 0, 0.1); 
    cursor: pointer;
}

.Profile-avatar {
    width: 40px;
    height: 40px;
    margin: 0px;
    border-radius: 50%;
    cursor: pointer;
}

.loggout {
    width: 100%;
    border:none;
}



.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    height: auto;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .close-button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .back-button{
    font-size: 32px;
    padding: 2px;
    margin: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .back-button:hover{
    color: #ffd700
  }

/* Responsiveness for home page */
@media (max-width: 800px) {
    .headercontainer {
        margin-bottom: 5px;
    }

    .logo a {
        font-size: 40px;
        
    }

    .header-button {
        margin-left: 5%;
    }

    .header-icon {
        font-size: 25px; 
    }
   
}


/* Responsiveness for header on foldable phones */
@media (max-width: 400px) {
    .headercontainer {
        padding: 5px;
    }

    .logo a {
        font-size: 30px;
    }

    .header-icon {
        font-size: 20px;
    }
    .dropdown-menu {
        padding: 8px;
        width: 150px;
    }
    
    .dropdown-item {
        font-size: 14px;
        width: 80%; 
    }
    
}
