.payment-method-container{
    background-color: white;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.payment-method-buttons {
    display: flex;
    gap: 50px;
    padding: 10px;
    margin-top: 10px;
}

.payment-method-buttons button {
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#visa-button{
    background: linear-gradient(135deg, #1428A0, #2D5FC6);
    color: white;
}

#airtel-button{
    background: linear-gradient(135deg, #8A0707, #FF7F00);
    color: white;
}

#mtn-button{
    background: linear-gradient(135deg, #ffcc00, #fac803);
    color: white;
}

#cash-button{
    background: linear-gradient(135deg, #4CAF50, #388E3C);
    color: white;
}

.visa-details input {
    width: calc(100% / 3 - 10px); 
    padding: 10px;
    margin-top: 0px;
    margin-right: 10px; 
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-sizing: border-box; 
}

.mobile-money-details input{
    width:100%; 
    padding: 10px;
    margin-top: 0px;
    margin-right: 10px; 
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-sizing: border-box; 
}

@media (max-width: 800px) {
    .payment-method-container{
        padding: 5px;
    }
    .payment-method-buttons {
        gap: 20px;
    }

    .payment-method-buttons button {
        width: 30%;
        padding: 10px 20px;
    }

    .visa-details input {
        width: calc(100% - 20px);
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 400px) {
    .payment-method-container {
        padding: 5px;
    }

    .payment-method-buttons {
        gap: 10px;
    }

    .payment-method-buttons button {
        padding: 5px 10px;
        font-size: 14px;
    }

    .visa-details input, .mobile-money-details input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
