.paymentcontainer{
    background-color: transparent;
}

.page-content{
    margin-top: 100px;
    display: flex;
    gap: 50px;
}

.leftside-content{
    width: 50%;
    padding: 10px;
}

.rightside-content{
    width: 40%;
    padding: 10px;
}

@media (max-width: 800px) {
    .page-content {
        margin-top: 70px;
        flex-direction: column;
    }

    .leftside-content,
    .rightside-content {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 400px) {
    .page-content {
        margin-top: 60px;
        flex-direction: column;
    }

    .leftside-content,
    .rightside-content {
        padding: 5px;
    }
}
