.rental-detail-container{
    background-color: white;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pickup-return-dateTime{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.From, .To{
    width: 100%;
}

.DateTime-title{
    font-size: 24px;
    font-weight: bold;
}

.DateTime-results{
    font-size: 18px;
    margin-top: 10px;
}
.DateTime-results p{
    margin: 5px;
    padding: 10px 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
}

.DateTime-results-total{
    display: flex;
    gap: 10px;
}

.DateTime-results-total p{
    font-size: 22px;
}

/* Media query for screens with a max width of 800px */
@media (max-width: 800px) {
    .rental-detail-container{ 
        padding: 5px;
    }
    .pickup-return-dateTime {
        flex-direction: column;
    }

    .DateTime-title {
        font-size: 20px;
    }

    .DateTime-results {
        font-size: 16px;
    }

    .DateTime-results-total p {
        font-size: 20px;
    }
}

/* Media query for screens with a max width of 400px */
@media (max-width: 400px) {
    .rental-detail-container {
        padding: 5px;
    }

    .DateTime-title {
        font-size: 18px;
    }

    .DateTime-results {
        font-size: 14px;
    }

    .DateTime-results p {
        padding: 5px 10px;
    }

    .DateTime-results-total p {
        font-size: 18px;
    }
}