.share-car-button-header {
    background-color: gold;
    border: none;
    border-radius: 50px;
    max-width: fit-content;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 50px;
    font-size: 18px;
    color: black;
}

.share-car-button-header:hover {
    background-color: black;
    color: white;
    transition: 1ms;
}

/* Responsiveness for share car button on foldable phones */
@media (max-width: 400px) {
    .share-car-button-header {
        font-size: 14px; 
        padding: 8px 20px; 
        margin-left: 0; 
        display: block;
        text-align: center;
        width: 100%;
    }
}
